<h1><center> <font size = '100px'>Search !</font></center></h1>
<br/>
<br/>
<br/>
<br/>
<br/>
<center><%= button_to 'Spouse Search', :controller => 'welcome',:action => 'searchwife'%></center>
<%= form_tag :controller => 'welcome' ,:action => 'search' do %>
<center><table>
<tr>
<th><%= label_tag("Search for:") %></th>
<td><%= text_field_tag(:qu) %></td>
<br/>
</tr>
<tr>
<th><%= label_tag("Keyword:") %> </th>
<td>  <%= text_field_tag(:k) %> </td>
</tr>
<tr>
<td colspan='2'>
<center><%= "Enter multiple Keywords separated by spaces"%></center>
</td>
</tr>
<tr>
 <th colspan = '2'><center><%= submit_tag("Search") %></th></center>
</tr>
</table></center> <% end %>
<%= @t %>