<h1>Results</h1>
<%= label_tag("Search for:") %>
<%= params[:q]%>
<%= button_to 'Home', :controller => 'welcome',:action => 'hello'%>
<br/>
<br/>
<% @finalresult.each do |q|%>
<%= q[:title]%>
<br/>
<%= link_to q[:url],q[:url]%>
<br/>
<br/>
<% end %>

<h2>Tweets</h2>
<% @tweet.each do |t| %>
<br/>
<%= link_to t.user.name,"https://www.twitter.com/#{t.user.screen_name}"%>
<br/>

<%=  t.user.screen_name %>
<br/>
<%=  t.text %>
<br/>
<br/>
<% end%>
<br/><br/>
<h2>Users</h2>
<% @disp.each do |a|%>
<%= a.name%>
<br/>
<%= link_to a[:screen_name],"https://www.twitter.com/#{a[:screen_name]}"%>
<br/>
<br/>
<%end%>