<h1>Reload Results</h1>
<%= label_tag("Search for:") %>
<%= params[:q]%>
<%= button_to 'Home', :controller => 'welcome',:action => 'hello'%>
<br/>
<br/>
<% @finalresult.each do |q|%>
<%= q[:title]%>
<br/>
<%= link_to q[:url],q[:url]%>
<br/>
<br/>
<% end %>